<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <title>Vue test</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="currentName">
    <p v-if="hasName">Hello, {{ upperCaseName }}</p>
    <p v-else>Tratata</p>
    <ul>
      <li v-for="(name, index) in names" @click="clickHandler(name)">{{ ++index }}. {{ name }}</li>
    </ul>
  </div>

  <script src="js/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>